.nav-item > .gray > .menu-text > .menu-icon{
	color:#0091EA;
}
.nav-item > .ungu > .menu-text > .menu-icon{
	color:#9575CD;
}
.nav-item > .merah > .menu-text > .menu-icon{
	color:#EF9A9A;
}
.nav-item > .orange > .menu-text > .menu-icon{
	color:#E65100;
}
.nav-item > .birumuda > .menu-text > .menu-icon{
	color:#00838F;
}
.nav-item > .hijaumuda > .menu-text > .menu-icon{
	color: #558B2F;
}
.nav-item > .birutua > .menu-text > .menu-icon{
	color:#1A237E;
}
.nav-item > .hijautua > .menu-text > .menu-icon{
	color: #004D40;
}
.nav-item > .kuning > .menu-text > .menu-icon{
	color: #F8B323;
}
.nav-item > .birud > .menu-text > .menu-icon{
	color: #4527A0;
}
.nav-item > .birum > .menu-text > .menu-icon{
	color: #00E5FF;
}
.nav-item > .hijum > .menu-text > .menu-icon{
	color:#00C853;
}
.section-header h2, a{
	color: #283593;
	border-color: #283593;
}
.section-header h2::before{
	background: #283593;
}
.pinggir-gray{
	 border-image-slice: 1;
	 border-image-source: linear-gradient(to left, #42A5F5, #0091EA);
}
h2.gray{
	color: #0091EA;
	border-image-slice: 1;
	border-image-source: linear-gradient(to left, #42A5F5, #0091EA);
}
.section-header h2.gray::before{
	background: #0091EA;
}
.font-birutua{
	background: -webkit-linear-gradient(#42A5F5, #42A5F5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.pinggir-birutua{
	 border-image-slice: 1;
	 border-image-source: linear-gradient(to left, #9FA8DA, #ccff90);
}
h2.birutua{
	color: #1A237E;
	border-image-slice: 1;
	border-image-source: linear-gradient(to left, #1E88E5, #1A237E);
}
.section-header h2.birutua::before{
	background-image: linear-gradient(to bottom, #1E88E5, #1A237E);
}
.font-merah{
	background: -webkit-linear-gradient(#ff4444, #CC0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.pinggir-merah{
	 border-image-slice: 1;
	 border-image-source: linear-gradient(to left, #ff4444, #CC0000);
}
h2.merah{
	color: #F06292;
	border-image-slice: 1;
	border-image-source: linear-gradient(to left, #b71c1c, #ffebee);
}
.section-header h2.merah::before{
	background-image: linear-gradient(to bottom, #b71c1c, #ffebee);
}
.font-orange{
	background: -webkit-linear-gradient(#ffb74d,#ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.pinggir-orange{
	 border-image-slice: 1;
	 border-image-source: linear-gradient(to left, #ffb74d,#ff5722);
}
h2.orange{
	color: #ff6d00;
	border-image-slice: 1;
	border-image-source: linear-gradient(to left, #ff6d00, #fff3e0);
}
.section-header h2.orange::before{
	background-image: linear-gradient(to bottom, #ff6d00, #fff3e0);
}
.font-ungu{
	background: -webkit-linear-gradient(#ab47bc,#4a148c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.pinggir-ungu{
	 border-image-slice: 1;
	 border-image-source: linear-gradient(to left, #ab47bc,#4a148c);
}
h2.ungu{
	color: #B388FF;
	border-image-slice: 1;
	border-image-source: linear-gradient(to left, #ab47bc, #4a148c);
}
.section-header h2.ungu::before{
	background-image: linear-gradient(to bottom, #ab47bc, #4a148c);
}
.font-hijum{
	background: -webkit-linear-gradient(#00E676,#00C853);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.pinggir-hijum{
	 border-image-slice: 1;
	 border-image-source: linear-gradient(to left, #00E676,#00C853);
}
h2.hijum{
	color: #00C853;
	border-image-slice: 1;
	border-image-source: linear-gradient(to left, #00E676, #00C853);
}
.section-header h2.hijum::before{
	background-image: linear-gradient(to bottom, #00E676, #00C853);
}
/************** KUNING */
.pinggir-kuning{
	 border-image-slice: 1;
	 border-image-source: linear-gradient(to left, #FFEE58, #F8B323);
}
h2.kuning{
	color: #000;
	border-image-slice: 1;
	border-image-source: linear-gradient(to left, #FFEE58, #F8B323);
}
.section-header h2.kuning::before{
	background: #F8B323;
}
/************** KUNING */
/************** BIRUMUDA */
.pinggir-birumuda{
	 border-image-slice: 1;
	 border-image-source: linear-gradient(to left, #00ACC1, #B2EBF2);
}
h2.birumuda{
	color: #00838F;
	border-image-slice: 1;
	border-image-source: linear-gradient(to left, #00ACC1, #B2EBF2);
}
.section-header h2.birumuda::before{
	background-image: linear-gradient(to bottom, #00ACC1, #B2EBF2);
}
/************** BIRUMUDA */
/************** BIRUM */
.pinggir-birum{
	 border-image-slice: 1;
	 border-image-source: linear-gradient(to left, #00ACC1, #B2EBF2);
}
h2.birum{
	color: #26C6DA;
	border-image-slice: 1;
	border-image-source: linear-gradient(to left, #00ACC1, #B2EBF2);
}
.section-header h2.birum::before{
	background-image: linear-gradient(to bottom, #00ACC1, #B2EBF2);
}
/************** BIRUM*/
/************** BIRUD */
.pinggir-birud{
	 border-image-slice: 1;
	 border-image-source: linear-gradient(to left, #1A237E, #3949AB);
}
h2.birud{
	color: #1A237E;
	border-image-slice: 1;
	border-image-source: linear-gradient(to left, #1A237E, #3949AB);
}
.section-header h2.birud::before{
	background-image: linear-gradient(to bottom, #1A237E, #3949AB);
}
/************** BIRUD */

/************** HIJAU MUDA*/
.pinggir-hijaumuda{
	 border-image-slice: 1;
	 border-image-source: linear-gradient(to left, #64DD17, #558B2F);
}
h2.hijaumuda{
	color: #558B2F;
	border-image-slice: 1;
	border-image-source: linear-gradient(to left, #64DD17, #558B2F);
}
.section-header h2.hijaumuda::before{
	background-image: linear-gradient(to bottom, #64DD17, #558B2F);
}
/************** HIJAU MUDA */
input, select, .form-control, .custom-file-label {
	border-image-slice: 1;
	border-image-source: linear-gradient(to left, #1a237e, #42A5F5);
}

/************** HIJAU TUA*/
.pinggir-hijautua{
	 border-image-slice: 1;
	 border-image-source: linear-gradient(to left, #004D40, #26A69A);
}
h2.hijautua{
	color: #004D40;
	border-image-slice: 1;
	border-image-source: linear-gradient(to left, #004D40, #26A69A);
}
.section-header h2.hijautua::before{
	background-image: linear-gradient(to bottom, #004D40, #26A69A);
}
/************** HIJAU MUDA */
input, select, .form-control, .custom-file-label {
	border-image-slice: 1;
	border-image-source: linear-gradient(to left, #1a237e, #42A5F5);
}
.nav-menu li:hover a, .nav-menu .menu-active a {
  color: #FFFFFF;
}
.items-r{
  color: #283593 !important;
}
.items-r:hover{
  color: #F2BF11 !important;
}
#mobile-nav {
	background: linear-gradient(to top, #e65100, #f5af19);
}
#mobile-body-overly {
	background: rgba(255, 152, 0, 0.7);
}
.layer, #menuku > .menu-text > .menu-icon {
	background: linear-gradient(180deg,#FAFAFA 0,#FFF 100%);
}
.afi-menu .container{
	background: #FFF;
}
.leftmenu{
	background:rgba(0,0,0,0.05);
}
#topbar, #topbar a, .breadcrumbs a, .breadcrumbs ol li + li::before, .current{
	color: #FFF !important;
}
#topbar, .breadcrumbs, .nav-pills .nav-link.active, .nav-pills .show>.nav-link, .btn-primary, .current, .back-to-top{
	background: #071952;
}
#header, thead, #footer{
	background: #02497D;
}
.nav-pills .show>.nav-link, thead,.back-to-top, #mobile-nav-toggle i, body.mobile-nav-active #mobile-nav-toggle, #mobile-nav-toggle i.fa-times, #header #logo h1 p,#footer, .afinav-menu a, .dataTables_paginate .previous, .dataTables_paginate .next, #header #logo h1{
    color: #fff;
}
 a:hover, a:active, a:focus, .nav-menu a, .leftmenu li.disabled a{
color: #F2BF11;
outline: none;
text-decoration: none;
}
.afinav-menu a:hover{
	color: #F5D20A;
}
.breadcrumbs, #topbar .contact-info a:hover, #topbar .social-links a:hover, .breadcrumbs a:hover, .nav-pills .nav-link.active, .back-to-top{
color: #F5D20A;	
}
h5.judule{
	color: #424242;
}
.dataTables_paginate .btn-outline-info:hover {
    color: #fff;
    background-color: #283593;
    border-color: #283593;
}
@media print{
	.layer{ background:none;}
}
.owl-prev,.owl-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.owl-prev span.fa, .owl-next span.fa{
	font-size: 1rem;
	line-height: 1.8rem;
}
.owl-next {
	right: -15px;
}
.owl-prev{
	left: -15px;
}
.owl-nav {
 display: none;
 color: #FFF;
}
.owl-carousel:hover .owl-nav {
  display: block;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
	width: 30px;
    height: 30px;
    background-color: rgba(0,0,0,.8);
    border-radius: 50%;
}
.menu-afi .text-center .img-thumbnail{
background-size: contain;
width: 50%;
height: 50%;
}
.help-afi:hover .owl-nav {
  display: none;
}
@media (max-width: 768px) {
.owl-carousel:hover .owl-nav {
  display: none;
}
.link-afi .owl-stage, .infosiaran-afi .owl-stage, .video-afi .owl-stage, .menu-afi .owl-stage, .help-afi .owl-stage, .terkait-afi .owl-stage{
right: 25px;
}
.menu-afi .text-center .img-thumbnail{
background-size: contain;
width: 60%;
height: 50%;
}
}